/* Reset base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Headings & Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Allison", cursive;
  font-weight: 600;
}

h2 {
  font-family: "Tangerine", cursive;
  font-weight: normal;
  font-size: 6rem;
  margin: 1rem 1rem 0rem;
}

h3 {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 5rem;
}

p {
  max-width: 80vw;
  text-align: center;
  margin: 1rem;
  font-size: 1.25rem;
}



/* Header & Nav  */
.site-header {
  position: fixed;
  display: flex;
  justify-content: stretch;
  height: 10vh;
  width: 100%;
  padding: 0.5rem 0.5rem 0;
  transition: background-color 0.25s ease;
  z-index: 2;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem;
}

.logo a {
  color: #ECE3D4;
}

/* TopNav Stuff */
.top-nav {
  display: flex;
  flex-grow: 9;
  justify-content: center;
  align-items: stretch;
  /* Make buttons take full nav height */
}

.top-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  color: #ECE3D4;
}

/* Positional Awareness - What do I do for this? Underline, maybe? */
a.current {
  text-decoration: underline;
}

/* TopNav Micro-interactions */
.top-nav a:hover {
  background: #BDBDBD;
  transform: scale(1.05);
}

.top-nav a:active {
  transform: scale(1);
}

/* Make video background */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero-message {
  /* Position below top */
  position: absolute;
  top: 15%;
}

.hero-message>h1 {
  /* Font Stuff */
  text-align: center;
  color: #3A2005;
  font-style: normal;
  font-size: 12rem;

  /* Glow for visibility */
  text-shadow: 0 0 10px #ECE3D4;
}

.content-block {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2E1604;
  color: #ECE3D4;
  z-index: 1;
}

.parallax-img {
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.parallax-img.volcano {
  background-image: url("../images/volcano-night.jpg");
}

.parallax-img.beach {
  background-image: url("../images/beach.jpg");
}

.parallax-img.market {
  background-image: url("../images/fruit-stand.jpg");
}

.carousel {
  position: relative;
  margin: 1rem auto;
  width: 80%;
  overflow-x: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-card {
  position: relative;
  flex-shrink: 0;
  width: 31.3%;
  margin: 1%;
}

.carousel-card img {
  width: 100%;
  height: auto;
}

.carousel-card .heading-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(236, 227, 212, 0.5);
}

.carousel-card h3 {
  color: #3A2005;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  height: 30%;
  width: 4%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(18, 206, 188, 0.60);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.05s ease;
}

.carousel-btn.left {
  left: 2px;
}

.carousel-btn.right {
  right: 2px;
}

.carousel-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.carousel-btn:active {
  transform: translateY(-50%) scale(1);
}